body {
    background-image: url("Dark_table_background.jpg");
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    min-width: 400px;
}

h1 {
    color: goldenrod;
}
button {
    background: goldenrod;
    width: 150px;
    color: #016f32;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;

}

#message-el {
    font-style: italic;
}


